<div class="grid grid-cols-10">
    <!--! Intro  -->
    <section id="details" class="col-span-6 flex flex-col justify-around">
        <div class="grid grid-rows-5">
        <!-- <div class="flex flex-col justify-between"> -->
            <p class="row-span-1 font-semibold text-lg flex self-center">WELCOME TO MY <span class="text-logo font-bold">GRAPHACITY</span></p>
            <h1 class="row-span-2 text-7xl font-semibold ">Hi, I am <span class="text-logo">Sayantan Mandal</span></h1>
            <p class="row-span-2 text-lg text-slate-500 flex self-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis 
                culpa corrupti sint! Dolor nulla quisquam corporis aliquam magni, 
                debitis incidunt itaque animi dicta facere ea aperiam porro, 
                nobis blanditiis alias.
            </p>
        </div>
        <div>
            <div id="connections">
                <h3>FIND ME</h3>
                <div>Fb</div>
                <div>Insta</div>
                <div>In</div>
                <div>YT</div>
            </div>
            <div id="skills">
                <h3>BEST SKILL ON</h3>
                <div>Ai</div>
                <div>Ps</div>
                <div>Figma</div>
            </div>
        </div>
    </section>

    <!--! Image  -->
    <section id="image" class="col-span-4">
        <div id="card" class="w-full h-full bg-green-200">
            <img src="../../assets/images/sayan.png" alt="">
        </div>
    </section>
</div>