<div class="grid grid-cols-2 gap-32 h-screen">
    <!--! Intro  -->
    <section id="details" class="col-span-1 flex flex-col justify-around">
        <!--! Intro: Top part  -->
        <div class="grid grid-rows-5">
        <!-- <div class="flex flex-col justify-between"> -->
            <p class="row-span-1 font-semibold text-xl">WELCOME TO MY <span class="text-logo font-bold"> GRAPHACITY</span></p>
            <h1 class="row-span-2 text-5xl font-semibold ">Hi, I am <span class="text-logo">Sayantan Mandal</span></h1>

            <!-- <h1 class="row-span-2 text-7xl font-semibold overflow-hidden">
                a 
                <ul id="dynamic-texts" class="overflow-hidden">
                    <li><span class="text-logo">Designer</span></li>
                    <li><span class="text-logo">Logo Maker</span></li>
                    <li><span class="text-logo">Artist</span></li>
                    <li><span class="text-logo">Youtuber</span></li>
                </ul>
            </h1> -->
            <!-- <p id="typewriter" class="row-span-2">asdfsd</p> -->

            <p class="row-span-2 text-xl text-slate-500 flex self-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis 
                culpa corrupti sint! Dolor nulla quisquam corporis aliquam magni, 
                debitis incidunt itaque animi dicta facere ea aperiam porro, 
                nobis blanditiis alias.
            </p>
        </div>

        <!--! Intro: Bottom part  -->
        <div class="text-xl grid grid-cols-2 gap-20">

            <div id="connections" class="">
                <h3 class="font-semibold mb-5">FIND ME</h3>

                <div class="flex justify-between">
                    <div class="card"><img class="w-8 m-4" src="../../assets/images/icons/Instagram.png" alt=""></div>
                    <div class="card"><img class="w-8 m-4" src="../../assets/images/icons/Instagram.png" alt=""></div>
                    <div class="card"><img class="w-8 m-4" src="../../assets/images/icons/Instagram.png" alt=""></div>
                    <div class="card"><img class="w-8 m-4" src="../../assets/images/icons/Instagram.png" alt=""></div>
                </div>
            </div>

            <div id="skills">
                <h3 class="font-semibold mb-5">BEST SKILL ON</h3>

                <div  class="flex justify-between">
                    <div class="card"><img class="w-8 m-4" src="../../assets/images/icons/Instagram.png" alt=""></div>
                    <div class="card"><img class="w-8 m-4" src="../../assets/images/icons/Instagram.png" alt=""></div>
                    <div class="card"><img class="w-8 m-4" src="../../assets/images/icons/Instagram.png" alt=""></div>
                </div>
            </div>

        </div>

    </section>

    <!--! Image  -->
    <section id="image" class="col-span-1">
        <div class="card">
            <!-- <img class="w-4/5" src="../../assets/images/sayan.png" alt=""> -->
            <img class="w-4/5" src="../../assets/images/sayan2.png" alt="">
            <!-- <img class="w-4/5" src="../../assets/images/sayan3.png" alt=""> -->
            <!-- <img class="w-4/5" src="../../assets/images/sayan4.png" alt=""> -->
        </div>
    </section>
</div>