<nav class="grid grid-cols-12">
    <!--! Logo  -->
    <section class="col-start-2 col-span-1 flex place-content-center self-center">
            <img
                id="logo"
                class="w-20 md:w-16 sm:w-12 min-w-[40px] m-4 border-4 border-gray-200 rounded-full"
                src="../assets/images/logo-light.png"
                alt="Graphacity Logo"
            >
    </section>

    <!--! Menu  -->
    <!-- add hover functionality -->
    <section class="col-span-6 col-start-4 flex justify-evenly self-center">
        <a href="#home"><div class="">HOME</div></a>
        <a href="#portfolio"><div class="">PORTFOLIO</div></a>
        <a href="#pricing"><div class="">PRICING</div></a>
        <a href="#testimonial"><div class="">TESTIMONIAL</div></a>
        <a href="#contact"><div class="">CONTACT</div></a>
    </section>
    <!-- using grid -->
    <!-- <section class="col-span-10 grid grid-cols-9 grid-rows-3">
        <div class="col-span-2 col-start-3 row-span-1 row-start-2">Home</div>
        <div class="col-span-2 col-start-5 row-span-1 row-start-2 ">Portfolio</div>
        <div class="col-span-2 col-start-7 row-span-1 row-start-2 ">Contact</div>
    </section> -->
    
    <!--! Theme  -->
    <section class="col-span-2 col-start-11 flex place-content-center self-center">
        <div class="border-4 border-gray-200 rounded-full">
            <svg class="text-logo w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
            </svg>
        </div>
    </section>
</nav>